<div>
    <div class="row">
        <h3 class="display-3"><strong>Data Info</strong></h3>
    </div>
    <div class="row">
        <p class="h3"><strong>Temperature</strong></p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="lead"><strong class="bold">Start: </strong>{{tempStart}}°C</p>
        </div>
        <div class="col-sm-4">
            <p class="lead"><strong class="bold">End: </strong>{{tempEnd}}°C</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="lead"><strong class="bold">Min: </strong>{{tempMin}}°C</p>
        </div>
        <div class="col-sm-4">
            <p class="lead"><strong class="bold">Avg: </strong>{{tempAvg}}°C</p>
        </div>
        <div class="col-sm-4">
            <p class="lead"><strong class="bold">Max: </strong>{{tempMax}}°C</p>
        </div>
    </div>
    <div class="row">
        <p class="h3"><strong>Humidity</strong></p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="lead"><strong class="bold">Start: </strong>{{humStart}}°C</p>
        </div>
        <div class="col-sm-4">
            <p class="lead"><strong class="bold">End: </strong>{{humEnd}}°C</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="lead"><strong class="bold">Min: </strong>{{humMin}}%</p>
        </div>
        <div class="col-sm-4">
            <p class="lead"><strong class="bold">Avg: </strong>{{humAvg}}%</p>
        </div>
        <div class="col-sm-4">
            <p class="lead"><strong class="bold">Max: </strong>{{humMax}}%</p>
        </div>
    </div>
</div>