<h3 class="display-3 pt-3"><strong>Table Data</strong></h3>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Time</th>
            <th>Temperature (°C)</th>
            <th>Humidity (%)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getPagedItems()">
            <td>{{ item?.time }}</td>
            <td>{{ item?.temperature | number:'2.1' }}</td>
            <td>{{ item?.humidity | number:'2.1' }}</td>
        </tr>
    </tbody>
</table>
<ngb-pagination class="d-flex justify-content-end" [collectionSize]="items.length" [(page)]="currentPage"
    [pageSize]="pageSize" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" [ellipses]="false">
</ngb-pagination>