<div class="container-sm">
  <div class="row text-center py-2">
    <h1 class="display-1">Raspberry DHT22 Monitor</h1>
    <h3 class="display-3">All dates</h3>
  </div>
  <div class="row pb-3">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onClick()">Single date</button>
  </div>
  <div *ngIf="data.length > 0">
    <div class="row">
      <div class="col-md-12">
        <ngb-accordion [closeOthers]="true" [activeIds]="activePanel">
          <ngb-panel *ngFor="let group of data; let i = index" [id]="'panel-' + i" [title]="group.date">
            <ng-template ngbPanelContent>
              <h4 class="display-4">Line chart</h4>
              <app-data-chart [group]="group"></app-data-chart>
              <h4 class="display-4">Table Data</h4>
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Time (UTC +01.00)</th>
                    <th>Temperature (°C)</th>
                    <th>Humidity (%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of getPagedItems(i)">
                    <td>{{ item?.time }}</td>
                    <td>{{ item?.temperature | number:'2.1' }}</td>
                    <td>{{ item?.humidity | number:'2.1' }}</td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination class="d-flex justify-content-end" [collectionSize]="data[i]?.items.length"
                [(page)]="currentPage" [pageSize]="pageSize" [maxSize]="3" [rotate]="true" [boundaryLinks]="true"
                [ellipses]="false">
              </ngb-pagination>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
  <div *ngIf="data.length == 0">
    <div class="d-flex justify-content-center pt-5">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
    </div>
  </div>
</div>