<div class="container-lg">
  <div class="row text-center py-2">
    <h1 class="display-1">Raspberry DHT22 Monitor</h1>
    <h3 class="display-3">All dates</h3>
  </div>
  <div class="d-grid gap-2 pb-3">
    <button type="button" class="btn btn-primary btn-block" (click)="onClick()">Go to single date</button>
  </div>
  <div *ngIf="data.length > 0">
    <div class="row">
      <div class="col-md-12">
        <ngb-accordion [closeOthers]="true" [activeIds]="activePanel">
          <ngb-panel *ngFor="let group of data; let i = index" [id]="'panel-' + i" [title]="group.date">
            <ng-template ngbPanelContent>
              <app-data-info  [group]="group"></app-data-info>
              <app-data-chart [group]="group"></app-data-chart>
              <app-table-data [items]="data[i].items"></app-table-data>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
  <div *ngIf="data.length == 0">
    <div class="d-flex justify-content-center pt-5">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
    </div>
  </div>
</div>